/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 sept. 2023, 14:10:30
    Author     : LENOVO
*/
.form-login {
width : 100% ;
max-width : 330px ;
padding : 15px ;
margin : auto ;
}